
#OnlineOfflineIndicator {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #656565;
    border-radius: 0 3px 0 0;
    padding: 0 20px 0 0;
    font-weight: bold;
    color: #fff;
    line-height: 26px;
    font-size: 12px;
    width: 70px;
    text-align: right;
    z-index: 500;
}

#OnlineOfflineIndicator::after {
    content: "Online";
}

#OnlineOfflineIndicator::before {
    background-color: #00A301;
    box-shadow: 0 0 3px rgb(36, 76, 12);
    float: left;
    width: 10px;
    height: 10px;
    margin: 8px 10px 8px 5px;
    content: "";
    border-radius: 5px;
}

body.offline #OnlineOfflineIndicator::after {
    content: "Offline";
}

body.offline #OnlineOfflineIndicator::before {
    background-color: #CF2D2D;
    box-shadow: 0 0 5px #B90000;
}

#UserSettingsContainer {
    position: relative;
    top: 0;
    z-index: 101;
    height: 0;
    border-bottom: 5px solid #656565;
    background: #CECECE;
    overflow: hidden;
    color: #000;

}

#UserSettingsContainer.expanded {
    height: auto;
}

#UserSettingsContainer h2 {
    font-family: BebasNeueRegular, Impact, Charcoal, sans-serif;
    font-size: 30px;
    float: left;
    width: 870px;
    border-bottom: 1px solid #aaa;
    padding-left: 10px;
    font-weight: 100;
    color: #000;
    line-height: 30px;

}

#UserSettingsContainer h3 {
    line-height: 25px;
    font-weight: 100;
    font-family: BebasNeueRegular, Impact, Charcoal, sans-serif;
    font-size: 20px;
    padding: 10px 0 5px 0;
    float: left;
    width: 870px;
    color: #000;
}

#UserSettingsContent {
    width: 880px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}

#UserSettingsContent > ul > li > *:not(h2) {
    margin-left: 10px;
}

#UserSettingsContent > ul > li.inactive {
    position: relative;
}

#UserSettingsContent > ul > li.inactive > *:not(.inactiveFilter) {
    opacity: 0.2;
}

#UserSettingsContent > ul > li.inactive > .inactiveFilter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 110;
    cursor: default;
}

#UserSettingsContent > ul {
    list-style-type: none;
    overflow: hidden;
    display: table;
    table-layout: fixed;

}

#UserSettingsContent input:not([type=submit]):not([type=radio]):not([type=checkbox]) {
    width: 250px;
}

#UserSettingsContent .better_select_select {
    width: 262px;
}

#UserSettingsContent > ul > li {
    width: 880px;
    padding-bottom: 20px;
    overflow: hidden;
    display: table-cell;
    vertical-align: top;

}

#UserSettingsContent > ul > li span.hidden {
    display: none;
}

#UserSettingsContent ul.colorList {
    width: 550px;
    margin-right: 320px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#UserSettingsContent ul.colorList li > .activate {
    color: #2f5377;
}

#UserSettingsContent p.text {
    float: left;
    margin-top: 20px;
    width: 600px;
}

#UserSettingsContent .container_box {
    float: left;
    width: 870px;
}

#ActiveListPath {
    float: left;
    width: 550px;
    background: rgb(219, 219, 219);
    padding: 0;
    font-size: 8pt;
    margin-bottom: 5px;
    color: rgb(0, 88, 138);
}

#ActiveListPath > .dot {
    cursor: pointer;
    width: 4px;
    height: 4px;
    display: block;
    float: left;
    padding: 0;
    margin: 7px 8px 7px 8px;
    border-radius: 3px;
    border: 1px solid rgb(7, 51, 117);
    background: transparent;
}

#ActiveListPath > .arrow {
    border: 4px solid #000;
    float: left;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent rgb(119, 119, 119);
    margin: 6px 4px 6px 8px;
}

#ActiveListPath > .file {
    color: rgb(10, 14, 114);
    text-decoration: none;
    padding: 0 5px;
    font-style: normal;
    cursor: pointer;
}

#UserSettingsContent .desc {
    float: left;
    width: 550px;
    color: #333;
    padding: 0 330px 10px 0;
}

#UserSettingsContent form {
    float: left;
    padding-bottom: 20px;
}

#UserSettingsContent .desc > .help {
    display: none;
}

#UserSettingsContractLink {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #BC4040 url(/_common/img/close_x_icon.png) scroll no-repeat center center;
    border-left: 1px solid rgb(163, 163, 163);
    cursor: pointer;
}

#UserSettingsContractLink:hover {
    background-color: #d84343;;
}

#UserSettingsMenu {
    height: 40px;
    width: 100%;
    background: #8e8e8e;
    margin-bottom: 12px;
}

#UserSettingsMenu ul {
    list-style-type: none;

}

#UserSettingsMenu li {
    float: left;
    width: 100px;
    height: 40px;
    overflow: hidden;
    background: #656565 url(/_common/img/login_user_menu_icons_vertical.png) no-repeat scroll center -315px;
    border-right: 1px solid #a9a9a9;
    cursor: pointer;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
}

#UserSettingsMenu li.active, #UserSettingsMenu li:hover {
    background-color: rgb(63, 63, 63);
}

#UserSettingsMenu li.pages {
    background-position: center -275px;
}

#UserSettingsMenu li.users {
    background-position: center -355px;
}

#UserSettingsMenu li.user {
    background-position: center -395px;
}

#UserSettingsMenu li.update_site {
    background-position: center -435px;
}

#UserSettingsMenu li.mail {
    background-position: center -474px;
}

#UserSettingsMenu li.log {
    position: relative;
    background-position: center -514px;
}

#UserSettingsMenu li.page.active {
    background-position: center -35px;
}

#UserSettingsMenu li.pages.active {
    background-position: center 5px;
}

#UserSettingsMenu li.users.active {
    background-position: center -75px;
}

#UserSettingsMenu li.user.active {
    background-position: center -115px;
}

#UserSettingsMenu li.update_site.active {
    background-position: center -155px;
}

#UserSettingsMenu li.mail.active {
    background-position: center -194px;
}

#UserSettingsMenu li.log.active {
    background-position: center -234px;
}

#UserSettingsMenu li > .num {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #C23535;
    line-height: 12px;
    padding: 3px 4px;
    font-weight: bold;
    color: rgba(241, 241, 241, 1);
    font-size: 12px;
    border-radius: 3px 0 0 0;
}

form.verticalAlignForm, form.justDistribution {
    width: 550px;
}

form.verticalAlignForm > div, form.justDistribution > div {
    float: left;
}

form.verticalAlignForm > div:nth-of-type(n+2) {
    float: right;
}

form.verticalAlignForm > div:last-child, form.justDistribution > div:last-child {
    float: left;
    width: 100%;
}

form.justDistribution > div:nth-of-type(2n+2) {
    float: right;
}

#UserSettingsExpandLink {
    background: transparent url("/_common/img/settings_arrow_3-01.png") scroll no-repeat bottom center;
    width: 46px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 40px;
    cursor: pointer;
    z-index: 100;
}

#LoginUserMessage {
    text-align: right;
    position: absolute;
    z-index: 99;
    right: 20px;
    line-height: 30px;
}

form.oneLineForm {
    min-width: 550px;

}

form.oneLineForm > div {
    float: left;
}

form.oneLineForm > div.submit > input[type=submit]:not([type=radio]):not([type=checkbox]) {
    margin: 25px 0 0 4px;
}

form > span.notion {
    width: 100%;
}

#UserSettingsContent .blur:after {
    background: rgba(206, 206, 206, 0.7);
}

#UserSettingsContent .blur:after, body.offline .disable_on_offline::after {
    background: rgba(206, 206, 206, 0.7);
}

#UserSettingsContent .colorList > li.blur {
    background-color: #EEE;
}

#UserSettingsContent .colorList > li.blur:after {
    background-image: none;
}

#UserSettingsContent button.saveList {
    margin-top: 0;
    margin-bottom: 20px;
}

form.initial input.invalid {
    border: 1px solid #aaa;
    background-color: #fff;
}

#AddSubPageForm > div:not(.submit):not(.radio) {
    padding: 5px 0 10px 25px;
    width: 525px;
    margin-bottom: 10px;
    background: rgb(223, 223, 223);
}

#ActivePageList ul {
    display: none;
}

#UserSettingsContent .showSubList {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
}

#UserSettingsContent .showSubList > li:not(.hasSubList) {
    display: none;
}

#UserSettingsContent .showSubList > .hasSubList {
    background: transparent !important;
    padding: 0;
}

#UserSettingsContent .showSubList > .hasSubList > *:not(ul) {
    display: none !important;
}

#UserSettingsContent .showSubList > .hasSubList > ul {
    display: block !important;
    margin-left: 10px;
}

#ActivePageList .link, #InactivePageList .link, #PageUserList .link, #UserList .link {
    margin: 0;
    width: 20px;
    background: transparent none scroll no-repeat center center;
}

#ActivePageList .subpages {
    background-image: url(/_common/img/subpages.png);
}

#ActivePageList .delete, #InactivePageList .delete, #PageUserList .delete, #UserList .delete {
    background-image: url(/_common/img/redx.png);
}

#UserList .time {
    background-image: url(/_common/img/time_icon_16.png);
}

#ActivePageList .activate {
    background-image: url(/_common/img/archive.png);
}

#InactivePageList .activate {
    background-image: url(/_common/img/arrowup.png);
}

#ActivePageList .showhide {
    background-image: url(/_common/img/eyeslash.png);
}

#ActivePageList li {

}

#ActivePageList li.dragging {
    cursor: move;
}

#ActivePageList li.dragging > .link {
    display: none;
}

#ActivePageList li.divider {
    height: 0;
    background: transparent;
    transition: height 0.2s;
}

#ActivePageList li.divider.expanded {
    height: 30px;
}

#ActivePageList li.ishidden:not(.hasSubList) {
    opacity: 0.4;
    text-decoration: line-through;
}

#ActivePageList li.ishidden .showhide {
    background-image: url(/_common/img/eye.png);
}

#InactivePageList li:not(.emptyListInfo) {
    padding-right: 30px;
    padding-left: 0;
}

#ActivePageList li:not(.emptyListInfo) {
    padding-left: 0;
}

#InactivePageList .padding, #ActivePageList .padding {
    border: 4px solid transparent;
    width: 0;
    height: 0;
    float: left;
    margin: 11px 4px 11px 9px;
    background: transparent;
}

#ActivePageList li.current > .link.delete, #InactivePageList li.current > .link.delete,
#ActivePageList.levelPage .link:not(.subpages), #InactivePageList.levelPage .link:not(.subpages),
#ActivePageList.levelPage .handle, #InactivePageList.levelPage .handle {
    display: none;
}

#ActivePageList.levelPage li.current,
#InactivePageList.levelPage li.current {
    padding-right: 0;
}

#ActivePageList li.current {
    padding-right: 30px;
}

#ActivePageList li.current > .padding, #InactivePageList li.current > .padding {
    border-color: transparent transparent transparent #253977;
}

#ActivePageList li.loading > .padding, #InactivePageList li.loading > .padding {
    background: transparent url(/_common/img/smallloader.gif) scroll no-repeat center center;
    margin: 0;
    padding: 0;
    width: 21px;
    height: 30px;
    border: 0;
    opacity: 0.6;
}

#ActiveListPath .up {
    cursor: pointer;
    float: right;
    background: #fff;
    color: rgb(80, 80, 80);
    padding: 0 15px;
}

#ActiveListPath .up:hover {
    text-decoration: underline;
}

#UserSettingsContent span.version {
    background: #FFF;
    padding: 0 5px;
    margin: 0 5px;
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    color: #3C3C3C;

}

#UserSettingsLogTable {
    width: 550px;
    margin-right: 330px;
    margin-top: 5px;
    margin-bottom: 20px;
    float: left;
}

#UserSettingsLogTable tr > td.date {
    width: 140px;
    text-align: right;
    padding-right: 10px;
}

#UserSettingsLogTable td {
    line-height: 30px;
    height: 30px;
    background: #fff;
}

#UserSettingsLogTable tr:nth-of-type(even) > td {
    background: #dedede;
}

#UserSettingsLogTable tr > td.level {
    width: 30px;
    background-image: url("/_common/img/log_icons.png");
    background-repeat: no-repeat;
}

#UserSettingsLogTable tr.error > td.level {
    background-position: 7px center;
}

#UserSettingsLogTable tr.warning > td.level {
    background-position: -33px center;
}

#UserSettingsLogTable tr.notice > td.level {
    background-position: -73px center;
}

#UserSettingsLogTable tr.debug > td.level {
    background-position: -113px center;
}

#UserSettingsLogTable tr td:nth-of-type(3) {
    width: 14px;
}

#UserSettingsLogTable tr a {
    background: transparent url("/_common/img/log_icons.png") no-repeat -160px center;
    height: 30px;
    width: 14px;
    display: block;
    text-decoration: none;
}

#UserSettingsLogTable tr.empty_row td {
    text-align: center;
    font-style: italic;
}

#UserSettingsLogTable:not(.empty) tr.empty_row {
    display: none;
}

#LogInfoParagraph{
    float: left;
}

#UpdateInformationMessage {
    text-align: center;
    background: #FF7100;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    z-index: 75;
}

#UpdateInformationMessage a {
    color: #fff;
    text-decoration: underline;
}

#UserSettingsContent .floating_list {
    list-style-type: none;
    width: 550px;
    float: left;
    padding-bottom: 10px;
}

#UserSettingsContent .floating_list > li {
    float: left;
    border-radius: 3px;
}

#UserSettingsContent .floating_list > li {
    padding: 3px 15px;
    border: 1px solid #aaa;
    margin: 0 10px 10px 0;
    background: rgb(253, 253, 253);
    color: #000;

}

#UserSettingsContent .floating_list.points_to > li:not(.empty_list){
    padding: 0;
}

#UserSettingsContent .floating_list.points_to > li > div {
    float: left;
    padding: 3px 15px;
}

#UserSettingsContent .floating_list.points_to > li > div:first-child {
    padding-right: 10px;
    background: #e0e0e0;
    border-radius: 3px 0 0 3px;
}

#UserSettingsContent .floating_list.points_to > li > div:not(.delete):last-of-type{
    padding-left: 10px;
}

#UserSettingsContent .floating_list.points_to > li > div.arrow {
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;

    border-left: 6px solid #e0e0e0;
    padding: 0;
}
#UserSettingsContent .has_deletable.floating_list > li{
    position:relative;
}


#UserSettingsContent .has_deletable.floating_list > li > .delete::after{
    background: url(/_common/img/redx.png) no-repeat center center;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;

}
#UserSettingsContent .has_deletable.floating_list > li > .delete {
    cursor: pointer;
    opacity: 0;
    padding:0;
    position:absolute;
    right:0;
    top: 0;
    height:26px;
    width:30px;
    transition: 0.2s opacity;
    z-index: 150;
    background-color: rgb(255,255,255);
}

#UserSettingsContent .has_deletable.floating_list > li:hover > .delete{
    opacity: 0.7;
    display: block;
}

#UserSettingsContent .has_deletable.floating_list > li:hover > .delete:hover{
    opacity: 1;
}




#UserSettingsContent ul > li.empty_list{
    display: none;
    width: 530px;
    padding: 10px;
    text-align: center;
    border: 0;
    border-radius: 0;
    background: transparent;
    margin: 0;
}

#UserSettingsContent ul.empty > li.empty_list{
    display: block;
}

#UserSettingsContent .floating_list:hover > li.add {
    opacity: 0.5;
}

#UserSettingsContent .floating_list:hover > li.add:hover {
    opacity: 1;
}

#UserSettingsEditMailAddAddressForm {
    width: 550px;
}

#UserSettingsEditMailAddAddressForm span.at {
    float: left;
    display: block;
    margin: 25px 0 0;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    width: 26px;
    text-align: center;
}

#UserSettingsContent .mail_form {
    width: 550px;
    overflow: hidden;
    max-height: 28px;
    transition: 0.5s max-height;
}

#UserSettingsContent .mail_form > form  {
    transition: 0.3s opacity;
    opacity: 1;
}

#UserSettingsContent .mail_form:not(.expanded)  > form  {
    opacity: 0;
}

#UserSettingsContent .mail_form.expanded {
    max-height: 800px;
}

#UserSettingsContent .mail_form > .expander_link {
    position: relative;
    cursor: pointer;
}

#UserSettingsContent .mail_form > .expander_link::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 26px;
    width: 26px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #fff url("/_common/img/add_icon_16.png") scroll no-repeat center center;
    opacity: 0.5;
    transition: 0.3s opacity;
    z-index: 150;

}

#UserSettingsContent .mail_form.expanded > .expander_link::after {
    right: 0;
    left: auto;
    border: 0;
    background-color: transparent;
    background-image: url("/_common/img/x-mark-icon.svg");
    background-size: 16px 16px;

}

#UserSettingsContent .mail_form > .expander_link:hover::after {
    opacity: 1;
}

#UserSettingsContent .mail_form > form   {
    float: left;
    padding: 20px 10px;
    width: 530px;
    background: #FFF;
    border-radius: 3px;
}

#UserSettingsContent .mail_form label {
    float: left;
    width: 252px;
}

#UserSettingsContent .mail_form label.long_input {
    width: 530px;
}

#UserSettingsContent .mail_form label.long_input input:not([type=submit]):not([type=radio]):not([type=checkbox]) {
    width: 518px;
}

#UserSettingsContent .mail_form div.submit {
    float: left;
    width: 100%;
}

#UserSettingsContent input:not([type=submit]):not([type=radio]):not([type=checkbox]) {
    width: 240px;
}

#UserSettingsContent .better_select {
    width: 252px !important;
}

#UserSettingsContent .better_select_select {
    width: 252px !important;
}

#UserSettingsContent .owner_check_list {
    width: 518px;
    float: left;
    list-style-type: none;
    border: 1px solid rgb(170, 170, 170);
    padding: 5px;
}

#UserSettingsContent .owner_check_list li {
    float: left;
}

#UserSettingsContent .owner_check_list input {
    display: none;
}

#UserSettingsContent .mail_form .owner_check_list label {
    width: auto;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 3px;
    margin: 5px;
    /* margin-bottom: 10px; */
    font-weight: bold;
    color: #9D9D9D;
    background-color: #eee;
}

#UserSettingsContent .mail_form .owner_check_list input[type=checkbox]:checked + label {
    background: rgb(33, 117, 213);
    color: #fff;

}

#UserSettingsEditMailAddDomainForm label:first-of-type,
#UserSettingsEditMailAddDomainAliasForm label:first-of-type {
    padding-right: 26px;
}


#UserSettingsEditMailAddAddressAddMailboxCheckbox + label + div {

    transition: 0.3s height;
    float: left;
    position: relative;
    width: 530px;
    overflow: hidden;
    height: 0;
}
#UserSettingsEditMailAddAddressAddMailboxCheckbox + label + div > label:nth-of-type(3){
    float: right;
}

#UserSettingsEditMailAddAddressAddMailboxCheckbox + label + div > label:first-of-type {
    padding-right: 26px;
}

#UserSettingsEditMailAddAddressAddMailboxCheckbox + label + div::after {
    display: block;
    position: absolute;
    content: "";
    z-index: 200;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#UserSettingsEditMailAddAddressAddMailboxCheckbox:checked + label + div {
    height: 114px;
}

#UserSettingsEditMailAddAddressAddMailboxCheckbox:checked + label + div::after {
    display: none;
}


#UserSettingsEditMailAddressLists{
    float: left;
    list-style-type: none;
}


#UserSettingsEditMailAddressLists li.can_edit{
    cursor: pointer;
}


#UserSettingsEditMailAddressLists li.active{
    background-color: #4F8FA8 ;
    color: #fff ;
    border-color: #025C6D ;

}
#UserSettingsContent #UserSettingsEditMailAddressLists  .has_deletable.floating_list > li.active > .delete{
    background-color: #4F8FA8 ;

}

#UserSettingsEditMailAddAddressForm.editing .submit.create{
    display: none;
}

#UserSettingsEditMailAddAddressForm:not(.editing) .submit.edit{
    display: none;
}